
<select id="cities">
<option value="Agate, CO">Agate, CO</option>
<option value="Aguilar, CO">Aguilar, CO</option>
<option value="Akron, CO">Akron, CO</option>
<option value="Alamosa, CO">Alamosa, CO</option>
<option value="Allenspark, CO">Allenspark, CO</option>
<option value="Alma, CO">Alma, CO</option>
<option value="Almont, CO">Almont, CO</option>
<option value="Amherst, CO">Amherst, CO</option>
<option value="Anton, CO">Anton, CO</option>
<option value="Antonito, CO">Antonito, CO</option>
<option value="Arapahoe, CO">Arapahoe, CO</option>
<option value="Arboles, CO">Arboles, CO</option>
<option value="Arlington, CO">Arlington, CO</option>
<option value="Arriba, CO">Arriba, CO</option>
<option value="Arvada, CO">Arvada, CO</option>
<option value="Aspen, CO">Aspen, CO</option>
<option value="Atwood, CO">Atwood, CO</option>
<option value="Ault, CO">Ault, CO</option>
<option value="Aurora, CO">Aurora, CO</option>
<option value="Austin, CO">Austin, CO</option>
<option value="Avon, CO">Avon, CO</option>
<option value="Avondale, CO">Avondale, CO</option>
<option value="Bailey, CO">Bailey, CO</option>
<option value="Basalt, CO">Basalt, CO</option>
<option value="Battlement Mesa, CO">Battlement Mesa, CO</option>
<option value="Bayfield, CO">Bayfield, CO</option>
<option value="Bedrock, CO">Bedrock, CO</option>
<option value="Bellvue, CO">Bellvue, CO</option>
<option value="Bennett, CO">Bennett, CO</option>
<option value="Berthoud, CO">Berthoud, CO</option>
<option value="Bethune, CO">Bethune, CO</option>
<option value="Beulah, CO">Beulah, CO</option>
<option value="Black Hawk, CO">Black Hawk, CO</option>
<option value="Blanca, CO">Blanca, CO</option>
<option value="Boncarbo, CO">Boncarbo, CO</option>
<option value="Bond, CO">Bond, CO</option>
<option value="Boone, CO">Boone, CO</option>
<option value="Boulder, CO">Boulder, CO</option>
<option value="Branson, CO">Branson, CO</option>
<option value="Breckenridge, CO">Breckenridge, CO</option>
<option value="Briggsdale, CO">Briggsdale, CO</option>
<option value="Brighton, CO">Brighton, CO</option>
<option value="Broomfield, CO">Broomfield, CO</option>
<option value="Brush, CO">Brush, CO</option>
<option value="Buena Vista, CO">Buena Vista, CO</option>
<option value="Buffalo Creek, CO">Buffalo Creek, CO</option>
<option value="Burlington, CO">Burlington, CO</option>
<option value="Burns, CO">Burns, CO</option>
<option value="Byers, CO">Byers, CO</option>
<option value="Cahone, CO">Cahone, CO</option>
<option value="Calhan, CO">Calhan, CO</option>
<option value="Campo, CO">Campo, CO</option>
<option value="Canon City, CO">Canon City, CO</option>
<option value="Capulin, CO">Capulin, CO</option>
<option value="Carbondale, CO">Carbondale, CO</option>
<option value="Carr, CO">Carr, CO</option>
<option value="Cascade, CO">Cascade, CO</option>
<option value="Castle Rock, CO">Castle Rock, CO</option>
<option value="Cedaredge, CO">Cedaredge, CO</option>
<option value="Center, CO">Center, CO</option>
<option value="Central City, CO">Central City, CO</option>
<option value="Chama, CO">Chama, CO</option>
<option value="Cheraw, CO">Cheraw, CO</option>
<option value="Cheyenne Wells, CO">Cheyenne Wells, CO</option>
<option value="Chimney Rock, CO">Chimney Rock, CO</option>
<option value="Chromo, CO">Chromo, CO</option>
<option value="Cimarron, CO">Cimarron, CO</option>
<option value="Clark, CO">Clark, CO</option>
<option value="Clifton, CO">Clifton, CO</option>
<option value="Climax, CO">Climax, CO</option>
<option value="Coal Creek, CO">Coal Creek, CO</option>
<option value="Coaldale, CO">Coaldale, CO</option>
<option value="Coalmont, CO">Coalmont, CO</option>
<option value="Collbran, CO">Collbran, CO</option>
<option value="Colorado City, CO">Colorado City, CO</option>
<option value="Colorado Springs, CO">Colorado Springs, CO</option>
<option value="Commerce City, CO">Commerce City, CO</option>
<option value="Como, CO">Como, CO</option>
<option value="Conejos, CO">Conejos, CO</option>
<option value="Conifer, CO">Conifer, CO</option>
<option value="Cope, CO">Cope, CO</option>
<option value="Cortez, CO">Cortez, CO</option>
<option value="Cory, CO">Cory, CO</option>
<option value="Cotopaxi, CO">Cotopaxi, CO</option>
<option value="Cowdrey, CO">Cowdrey, CO</option>
<option value="Craig, CO">Craig, CO</option>
<option value="Crawford, CO">Crawford, CO</option>
<option value="Creede, CO">Creede, CO</option>
<option value="Crested Butte, CO">Crested Butte, CO</option>
<option value="Crestone, CO">Crestone, CO</option>
<option value="Cripple Creek, CO">Cripple Creek, CO</option>
<option value="Crook, CO">Crook, CO</option>
<option value="Crowley, CO">Crowley, CO</option>
<option value="Dacono, CO">Dacono, CO</option>
<option value="De Beque, CO">De Beque, CO</option>
<option value="Deer Trail, CO">Deer Trail, CO</option>
<option value="Del Norte, CO">Del Norte, CO</option>
<option value="Delta, CO">Delta, CO</option>
<option value="Denver, CO">Denver, CO</option>
<option value="Dillon, CO">Dillon, CO</option>
<option value="Dinosaur, CO">Dinosaur, CO</option>
<option value="Divide, CO">Divide, CO</option>
<option value="Dolores, CO">Dolores, CO</option>
<option value="Dove Creek, CO">Dove Creek, CO</option>
<option value="Drake, CO">Drake, CO</option>
<option value="Dumont, CO">Dumont, CO</option>
<option value="Dupont, CO">Dupont, CO</option>
<option value="Durango, CO">Durango, CO</option>
<option value="Eads, CO">Eads, CO</option>
<option value="Eagle, CO">Eagle, CO</option>
<option value="Eastlake, CO">Eastlake, CO</option>
<option value="Eaton, CO">Eaton, CO</option>
<option value="Eckert, CO">Eckert, CO</option>
<option value="Eckley, CO">Eckley, CO</option>
<option value="Edwards, CO">Edwards, CO</option>
<option value="Egnar, CO">Egnar, CO</option>
<option value="El Jebel, CO">El Jebel, CO</option>
<option value="Elbert, CO">Elbert, CO</option>
<option value="Eldorado Springs, CO">Eldorado Springs, CO</option>
<option value="Elizabeth, CO">Elizabeth, CO</option>
<option value="Empire, CO">Empire, CO</option>
<option value="Englewood, CO">Englewood, CO</option>
<option value="Erie, CO">Erie, CO</option>
<option value="Estes Park, CO">Estes Park, CO</option>
<option value="Evans, CO">Evans, CO</option>
<option value="Evergreen, CO">Evergreen, CO</option>
<option value="Fairplay, CO">Fairplay, CO</option>
<option value="Firestone, CO">Firestone, CO</option>
<option value="Flagler, CO">Flagler, CO</option>
<option value="Fleming, CO">Fleming, CO</option>
<option value="Florence, CO">Florence, CO</option>
<option value="Florissant, CO">Florissant, CO</option>
<option value="Fort Collins, CO">Fort Collins, CO</option>
<option value="Fort Garland, CO">Fort Garland, CO</option>
<option value="Fort Lupton, CO">Fort Lupton, CO</option>
<option value="Fort Lyon, CO">Fort Lyon, CO</option>
<option value="Fort Morgan, CO">Fort Morgan, CO</option>
<option value="Fountain, CO">Fountain, CO</option>
<option value="Fowler, CO">Fowler, CO</option>
<option value="Franktown, CO">Franktown, CO</option>
<option value="Fraser, CO">Fraser, CO</option>
<option value="Frederick, CO">Frederick, CO</option>
<option value="Frisco, CO">Frisco, CO</option>
<option value="Fruita, CO">Fruita, CO</option>
<option value="Galeton, CO">Galeton, CO</option>
<option value="Garcia, CO">Garcia, CO</option>
<option value="Gardner, CO">Gardner, CO</option>
<option value="Gateway, CO">Gateway, CO</option>
<option value="Genoa, CO">Genoa, CO</option>
<option value="Georgetown, CO">Georgetown, CO</option>
<option value="Gilcrest, CO">Gilcrest, CO</option>
<option value="Gill, CO">Gill, CO</option>
<option value="Glade Park, CO">Glade Park, CO</option>
<option value="Glen Haven, CO">Glen Haven, CO</option>
<option value="Glenwood Springs, CO">Glenwood Springs, CO</option>
<option value="Golden, CO">Golden, CO</option>
<option value="Granada, CO">Granada, CO</option>
<option value="Granby, CO">Granby, CO</option>
<option value="Grand Junction, CO">Grand Junction, CO</option>
<option value="Grand Lake, CO">Grand Lake, CO</option>
<option value="Granite, CO">Granite, CO</option>
<option value="Grant, CO">Grant, CO</option>
<option value="Greeley, CO">Greeley, CO</option>
<option value="Green Mountain Falls, CO">Green Mountain Falls, CO</option>
<option value="Grover, CO">Grover, CO</option>
<option value="Guffey, CO">Guffey, CO</option>
<option value="Gulnare, CO">Gulnare, CO</option>
<option value="Gunnison, CO">Gunnison, CO</option>
<option value="Gypsum, CO">Gypsum, CO</option>
<option value="Hamilton, CO">Hamilton, CO</option>
<option value="Hartman, CO">Hartman, CO</option>
<option value="Hartsel, CO">Hartsel, CO</option>
<option value="Hasty, CO">Hasty, CO</option>
<option value="Haswell, CO">Haswell, CO</option>
<option value="Haxtun, CO">Haxtun, CO</option>
<option value="Hayden, CO">Hayden, CO</option>
<option value="Henderson, CO">Henderson, CO</option>
<option value="Hereford, CO">Hereford, CO</option>
<option value="Hesperus, CO">Hesperus, CO</option>
<option value="Hillrose, CO">Hillrose, CO</option>
<option value="Hillside, CO">Hillside, CO</option>
<option value="Hoehne, CO">Hoehne, CO</option>
<option value="Holly, CO">Holly, CO</option>
<option value="Holyoke, CO">Holyoke, CO</option>
<option value="Homelake, CO">Homelake, CO</option>
<option value="Hooper, CO">Hooper, CO</option>
<option value="Hot Sulphur Springs, CO">Hot Sulphur Springs, CO</option>
<option value="Hotchkiss, CO">Hotchkiss, CO</option>
<option value="Howard, CO">Howard, CO</option>
<option value="Hudson, CO">Hudson, CO</option>
<option value="Hugo, CO">Hugo, CO</option>
<option value="Hygiene, CO">Hygiene, CO</option>
<option value="Idaho Springs, CO">Idaho Springs, CO</option>
<option value="Idalia, CO">Idalia, CO</option>
<option value="Idledale, CO">Idledale, CO</option>
<option value="Ignacio, CO">Ignacio, CO</option>
<option value="Iliff, CO">Iliff, CO</option>
<option value="Indian Hills, CO">Indian Hills, CO</option>
<option value="Jamestown, CO">Jamestown, CO</option>
<option value="Jaroso, CO">Jaroso, CO</option>
<option value="Jefferson, CO">Jefferson, CO</option>
<option value="Jelm, CO">Jelm, CO</option>
<option value="Joes, CO">Joes, CO</option>
<option value="Johnstown, CO">Johnstown, CO</option>
<option value="Julesburg, CO">Julesburg, CO</option>
<option value="Karval, CO">Karval, CO</option>
<option value="Keenesburg, CO">Keenesburg, CO</option>
<option value="Kersey, CO">Kersey, CO</option>
<option value="Kim, CO">Kim, CO</option>
<option value="Kiowa, CO">Kiowa, CO</option>
<option value="Kirk, CO">Kirk, CO</option>
<option value="Kit Carson, CO">Kit Carson, CO</option>
<option value="Kittredge, CO">Kittredge, CO</option>
<option value="Kremmling, CO">Kremmling, CO</option>
<option value="La Jara, CO">La Jara, CO</option>
<option value="La Junta, CO">La Junta, CO</option>
<option value="La Salle, CO">La Salle, CO</option>
<option value="La Veta, CO">La Veta, CO</option>
<option value="Lafayette, CO">Lafayette, CO</option>
<option value="Lake City, CO">Lake City, CO</option>
<option value="Lake George, CO">Lake George, CO</option>
<option value="Lamar, CO">Lamar, CO</option>
<option value="Laporte, CO">Laporte, CO</option>
<option value="Larkspur, CO">Larkspur, CO</option>
<option value="Las Animas, CO">Las Animas, CO</option>
<option value="Lazear, CO">Lazear, CO</option>
<option value="Leadville, CO">Leadville, CO</option>
<option value="Lewis, CO">Lewis, CO</option>
<option value="Limon, CO">Limon, CO</option>
<option value="Lindon, CO">Lindon, CO</option>
<option value="Littleton, CO">Littleton, CO</option>
<option value="Livermore, CO">Livermore, CO</option>
<option value="Lochbuie, CO">Lochbuie, CO</option>
<option value="Log Lane Village, CO">Log Lane Village, CO</option>
<option value="Loma, CO">Loma, CO</option>
<option value="Lone Tree, CO">Lone Tree, CO</option>
<option value="Longmont, CO">Longmont, CO</option>
<option value="Louisville, CO">Louisville, CO</option>
<option value="Louviers, CO">Louviers, CO</option>
<option value="Loveland, CO">Loveland, CO</option>
<option value="Lucerne, CO">Lucerne, CO</option>
<option value="Lyons, CO">Lyons, CO</option>
<option value="Mack, CO">Mack, CO</option>
<option value="Maher, CO">Maher, CO</option>
<option value="Manassa, CO">Manassa, CO</option>
<option value="Mancos, CO">Mancos, CO</option>
<option value="Manitou Springs, CO">Manitou Springs, CO</option>
<option value="Manzanola, CO">Manzanola, CO</option>
<option value="Marvel, CO">Marvel, CO</option>
<option value="Masonville, CO">Masonville, CO</option>
<option value="Matheson, CO">Matheson, CO</option>
<option value="Maybell, CO">Maybell, CO</option>
<option value="McClave, CO">McClave, CO</option>
<option value="McCoy, CO">McCoy, CO</option>
<option value="Mead, CO">Mead, CO</option>
<option value="Meeker, CO">Meeker, CO</option>
<option value="Meredith, CO">Meredith, CO</option>
<option value="Merino, CO">Merino, CO</option>
<option value="Mesa, CO">Mesa, CO</option>
<option value="Mesa Verde National Park, CO">Mesa Verde National Park, CO</option>
<option value="Milliken, CO">Milliken, CO</option>
<option value="Minturn, CO">Minturn, CO</option>
<option value="Model, CO">Model, CO</option>
<option value="Moffat, CO">Moffat, CO</option>
<option value="Molina, CO">Molina, CO</option>
<option value="Monarch, CO">Monarch, CO</option>
<option value="Monte Vista, CO">Monte Vista, CO</option>
<option value="Montrose, CO">Montrose, CO</option>
<option value="Monument, CO">Monument, CO</option>
<option value="Morrison, CO">Morrison, CO</option>
<option value="Mosca, CO">Mosca, CO</option>
<option value="Nathrop, CO">Nathrop, CO</option>
<option value="Naturita, CO">Naturita, CO</option>
<option value="Nederland, CO">Nederland, CO</option>
<option value="New Castle, CO">New Castle, CO</option>
<option value="New Raymer, CO">New Raymer, CO</option>
<option value="Niwot, CO">Niwot, CO</option>
<option value="Norwood, CO">Norwood, CO</option>
<option value="Nucla, CO">Nucla, CO</option>
<option value="Nunn, CO">Nunn, CO</option>
<option value="Oak Creek, CO">Oak Creek, CO</option>
<option value="Ohio City, CO">Ohio City, CO</option>
<option value="Olathe, CO">Olathe, CO</option>
<option value="Olney Springs, CO">Olney Springs, CO</option>
<option value="Ophir, CO">Ophir, CO</option>
<option value="Orchard, CO">Orchard, CO</option>
<option value="Ordway, CO">Ordway, CO</option>
<option value="Otis, CO">Otis, CO</option>
<option value="Ouray, CO">Ouray, CO</option>
<option value="Ovid, CO">Ovid, CO</option>
<option value="Padroni, CO">Padroni, CO</option>
<option value="Pagosa Springs, CO">Pagosa Springs, CO</option>
<option value="Palisade, CO">Palisade, CO</option>
<option value="Palmer Lake, CO">Palmer Lake, CO</option>
<option value="Paoli, CO">Paoli, CO</option>
<option value="Paonia, CO">Paonia, CO</option>
<option value="Parachute, CO">Parachute, CO</option>
<option value="Paradox, CO">Paradox, CO</option>
<option value="Parker, CO">Parker, CO</option>
<option value="Parlin, CO">Parlin, CO</option>
<option value="Parshall, CO">Parshall, CO</option>
<option value="Peetz, CO">Peetz, CO</option>
<option value="Penrose, CO">Penrose, CO</option>
<option value="Peyton, CO">Peyton, CO</option>
<option value="Phippsburg, CO">Phippsburg, CO</option>
<option value="Pierce, CO">Pierce, CO</option>
<option value="Pine, CO">Pine, CO</option>
<option value="Pinecliffe, CO">Pinecliffe, CO</option>
<option value="Pitkin, CO">Pitkin, CO</option>
<option value="Placerville, CO">Placerville, CO</option>
<option value="Platteville, CO">Platteville, CO</option>
<option value="Pleasant View, CO">Pleasant View, CO</option>
<option value="Poncha Springs, CO">Poncha Springs, CO</option>
<option value="Powderhorn, CO">Powderhorn, CO</option>
<option value="Pritchett, CO">Pritchett, CO</option>
<option value="Pueblo, CO">Pueblo, CO</option>
<option value="Ramah, CO">Ramah, CO</option>
<option value="Rand, CO">Rand, CO</option>
<option value="Rangely, CO">Rangely, CO</option>
<option value="Red Cliff, CO">Red Cliff, CO</option>
<option value="Red Feather Lakes, CO">Red Feather Lakes, CO</option>
<option value="Red Wing, CO">Red Wing, CO</option>
<option value="Redvale, CO">Redvale, CO</option>
<option value="Rico, CO">Rico, CO</option>
<option value="Ridgway, CO">Ridgway, CO</option>
<option value="Rifle, CO">Rifle, CO</option>
<option value="Rockvale, CO">Rockvale, CO</option>
<option value="Rocky Ford, CO">Rocky Ford, CO</option>
<option value="Roggen, CO">Roggen, CO</option>
<option value="Rollinsville, CO">Rollinsville, CO</option>
<option value="Romeo, CO">Romeo, CO</option>
<option value="Rush, CO">Rush, CO</option>
<option value="Rye, CO">Rye, CO</option>
<option value="Saguache, CO">Saguache, CO</option>
<option value="Salida, CO">Salida, CO</option>
<option value="San Luis, CO">San Luis, CO</option>
<option value="San Pablo, CO">San Pablo, CO</option>
<option value="Sanford, CO">Sanford, CO</option>
<option value="Sargents, CO">Sargents, CO</option>
<option value="Sedalia, CO">Sedalia, CO</option>
<option value="Sedgwick, CO">Sedgwick, CO</option>
<option value="Seibert, CO">Seibert, CO</option>
<option value="Severance, CO">Severance, CO</option>
<option value="Shawnee, CO">Shawnee, CO</option>
<option value="Sheridan Lake, CO">Sheridan Lake, CO</option>
<option value="Sherrelwood, CO">Sherrelwood, CO</option>
<option value="Silt, CO">Silt, CO</option>
<option value="Silver Plume, CO">Silver Plume, CO</option>
<option value="Silverthorne, CO">Silverthorne, CO</option>
<option value="Silverton, CO">Silverton, CO</option>
<option value="Simla, CO">Simla, CO</option>
<option value="Slater, CO">Slater, CO</option>
<option value="Snowmass, CO">Snowmass, CO</option>
<option value="Snowmass Village, CO">Snowmass Village, CO</option>
<option value="Snyder, CO">Snyder, CO</option>
<option value="Somerset, CO">Somerset, CO</option>
<option value="South Fork, CO">South Fork, CO</option>
<option value="Springfield, CO">Springfield, CO</option>
<option value="Starkville, CO">Starkville, CO</option>
<option value="Steamboat Springs, CO">Steamboat Springs, CO</option>
<option value="Sterling, CO">Sterling, CO</option>
<option value="Stoneham, CO">Stoneham, CO</option>
<option value="Strasburg, CO">Strasburg, CO</option>
<option value="Stratton, CO">Stratton, CO</option>
<option value="Sugar City, CO">Sugar City, CO</option>
<option value="Swink, CO">Swink, CO</option>
<option value="Tabernash, CO">Tabernash, CO</option>
<option value="Telluride, CO">Telluride, CO</option>
<option value="Thornton, CO">Thornton, CO</option>
<option value="Timnath, CO">Timnath, CO</option>
<option value="Toponas, CO">Toponas, CO</option>
<option value="Towaoc, CO">Towaoc, CO</option>
<option value="Trinchera, CO">Trinchera, CO</option>
<option value="Trinidad, CO">Trinidad, CO</option>
<option value="Twin Lakes, CO">Twin Lakes, CO</option>
<option value="Two Buttes, CO">Two Buttes, CO</option>
<option value="U S A F Academy, CO">U S A F Academy, CO</option>
<option value="Vail, CO">Vail, CO</option>
<option value="Vernon, CO">Vernon, CO</option>
<option value="Victor, CO">Victor, CO</option>
<option value="Vilas, CO">Vilas, CO</option>
<option value="Villa Grove, CO">Villa Grove, CO</option>
<option value="Vona, CO">Vona, CO</option>
<option value="Walden, CO">Walden, CO</option>
<option value="Walsenburg, CO">Walsenburg, CO</option>
<option value="Walsh, CO">Walsh, CO</option>
<option value="Ward, CO">Ward, CO</option>
<option value="Watkins, CO">Watkins, CO</option>
<option value="Weldona, CO">Weldona, CO</option>
<option value="Wellington, CO">Wellington, CO</option>
<option value="Westcliffe, CO">Westcliffe, CO</option>
<option value="Westminster, CO">Westminster, CO</option>
<option value="Weston, CO">Weston, CO</option>
<option value="Wetmore, CO">Wetmore, CO</option>
<option value="Wheat Ridge, CO">Wheat Ridge, CO</option>
<option value="Whitewater, CO">Whitewater, CO</option>
<option value="Wiggins, CO">Wiggins, CO</option>
<option value="Wild Horse, CO">Wild Horse, CO</option>
<option value="Wiley, CO">Wiley, CO</option>
<option value="Windsor, CO">Windsor, CO</option>
<option value="Winter Park, CO">Winter Park, CO</option>
<option value="Wolcott, CO">Wolcott, CO</option>
<option value="Woodland Park, CO">Woodland Park, CO</option>
<option value="Woodrow, CO">Woodrow, CO</option>
<option value="Woody Creek, CO">Woody Creek, CO</option>
<option value="Wray, CO">Wray, CO</option>
<option value="Yampa, CO">Yampa, CO</option>
<option value="Yellow Jacket, CO">Yellow Jacket, CO</option>
<option value="Yoder, CO">Yoder, CO</option>
<option value="Yuma, CO">Yuma, CO</option>
</select>
